* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

html {
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
}

body {
  background-color: #262424;
  height: 100%;
  width: 100%;
}

#head {
  color: white;
  /* font-family: poppins; */
  margin: 40px;
  padding-left: 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

a {
  color: white;
  text-decoration: none;
  margin-left: 10rem;
  font-size: 20px;
  font-weight: 500;
  position: relative;
}

a:after {
  content: "";
  position: absolute;
  background-color: rgb(63, 61, 61);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

a:hover {
  color: #ffffff;
}

a:hover:after {
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.container #box1 {
  height: 200px;
  width: 200px;
  background-color: #EEE5DA;
  margin-top: 100px;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px #EEE5DA;
  transition: 0.6s;
  /* margin-left: 100px; */
}

.container #box1:hover {
  transform: scale(1.2);
}

.container #box2 {
  height: 200px;
  width: 200px;
  background-color: #EEE5DA;
  margin-top: 100px;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px #EEE5DA;
  transition: 0.6s;
  /* margin-left: 300px; */
}

.container #box2:hover {
  transform: scale(1.2);
}

.container #box3 {
  height: 200px;
  width: 200px;
  background-color: #EEE5DA;
  margin-top: 100px;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px #EEE5DA;
  transition: 0.6s;
  /* margin-left: 300px; */
}

.container #box3:hover {
  transform: scale(1.2);
}

.container #box4 {
  height: 200px;
  width: 200px;
  background-color: #EEE5DA;
  margin-top: 100px;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px #EEE5DA;
  transition: 0.6s;
  /* margin-left: 300px; */
}

.container #box4:hover {
  transform: scale(1.2);
}

.container #box1 img {
  height: 140px;
  margin-bottom: 10px;
}

.container #box1 h2 {
  margin: 0;
}

.container #box2 h2 {
  color: black;
  margin: 0;
}

.container #box2 img {
  height: 140px;
  margin-bottom: 10px;
}

.container #box3 h2 {
  color: black;
  margin: 0;
}

.container #box3 img {
  height: 140px;
  margin-bottom: 10px;
}

.container #box4 h2 {
  color: black;
  margin: 0;
}

.container #box4 img {
  height: 140px;
  margin-bottom: 10px;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.container > div,
.container2 > div,
.container3 > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container img,
.container2 img,
.container3 img {
  height: 140px;
  margin-bottom: 10px;
}

.container h2,
.container2 h2,
.container3 h2 {
  margin: 0;
  font-size: 1.2rem;
  color: black;
}

.container2 #box5 {
  height: 200px;
  width: 200px;
  background-color: #EEE5DA;
  margin-top: 100px;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px #EEE5DA;
  transition: 0.6s;
  /* margin-left: 300px; */
}

.container2 #box5:hover {
  transform: scale(1.2);
}

.container2 #box6 {
  height: 200px;
  width: 200px;
  background-color: #EEE5DA;
  margin-top: 100px;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px #EEE5DA;
  transition: 0.6s;
  /* margin-left: 300px; */
}

.container2 #box6:hover {
  transform: scale(1.2);
}

.container2 #box7 {
  height: 200px;
  width: 200px;
  background-color: #EEE5DA;
  margin-top: 100px;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px #EEE5DA;
  transition: 0.6s;
  /* margin-left: 300px; */
}

.container2 #box7:hover {
  transform: scale(1.2);
}

.container2 #box8 {
  height: 200px;
  width: 200px;
  background-color: #EEE5DA;
  margin-top: 100px;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px #EEE5DA;
  transition: 0.6s;
  /* margin-left: 300px; */
}

.container2 #box8:hover {
  transform: scale(1.2);
}

.container3 #box9 {
  height: 200px;
  width: 200px;
  background-color: #EEE5DA;
  margin-top: 100px;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px #EEE5DA;
  transition: 0.6s;
  /* margin-left: 300px; */
}

.container3 #box9:hover {
  transform: scale(1.2);
}

.container3 #box10 {
  height: 200px;
  width: 200px;
  background-color: #EEE5DA;
  margin-top: 100px;
  border-radius: 10px;
  box-shadow: 0 4px 6px -1px #EEE5DA;
  transition: 0.6s;
  /* margin-left: 300px; */
}

.container3 #box10:hover {
  transform: scale(1.2);
}

.container2 #box5 h2 {
  color: black;
  margin: 0;
}

.container2 #box5 img {
  height: 140px;
  margin-bottom: 10px;
}

.container2 #box6 h2 {
  color: black;
  margin: 0;
}

.container2 #box6 img {
  height: 140px;
  margin-bottom: 10px;
}

.container2 #box7 h2 {
  color: black;
  margin: 0;
}

.container2 #box7 img {
  height: 140px;
  margin-bottom: 10px;
}

.container2 #box8 h2 {
  color: black;
  margin: 0;
}

.container2 #box8 img {
  height: 140px;
  margin-bottom: 10px;
}
.container3 #box9 h2 {
  color: black;
  margin: 0;
}

.container3 #box9 img {
  height: 140px;
  margin-bottom: 10px;
}
.container3 #box10 h2 {
  color: #262424;
  margin: 0;
}

.container3 #box10 img {
  height: 140px;
  margin-bottom: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
  #head {
    margin: 20px;
    flex-direction: column;
    text-align: center;
  }

  #head h2 {
    font-size: 2rem;
  }

  a {
    margin-left: 1rem;
    font-size: 1.5rem;
  }

  .container,
  .container2,
  .container3 {
    flex-direction: column;
    gap: 50px;
  }

  .container #box1,
  .container #box2,
  .container #box3,
  .container #box4,
  .container2 #box5,
  .container2 #box6,
  .container2 #box7,
  .container2 #box8,
  .container3 #box9,
  .container3 #box10 {
    width: 80%;
    height: auto;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .container h2,
  .container2 h2,
  .container3 h2 {
    text-align: center;
    font-size: 1.5rem;
  }

  .container img,
  .container2 img,
  .container3 img {
    margin-bottom: 10px;
    height: 120px;
  }
}

@media (max-width: 480px) {
  #head {
    margin: 10px;
    padding-left: 2%;
  }

  #head h2 {
    font-size: 1.5rem;
  }

  a {
    margin-left: 0.5rem;
    font-size: 1.2rem;
  }

  .container,
  .container2,
  .container3 {
    flex-direction: column;
    gap: 30px;
  }

  .container #box1,
  .container #box2,
  .container #box3,
  .container #box4,
  .container2 #box5,
  .container2 #box6,
  .container2 #box7,
  .container2 #box8,
  .container3 #box9,
  .container3 #box10 {
    width: 90%;
    height: 150px;
    margin-top: 30px;
  }

  .container h2,
  .container2 h2,
  .container3 h2 {
    text-align: center;
    font-size: 1.2rem;
  }

  .container img,
  .container2 img,
  .container3 img {
    margin-bottom: 10px;
    height: 100px;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .container,
  .container2,
  .container3 {
    gap: 50px;
  }

  .container #box1,
  .container #box2,
  .container #box3,
  .container #box4,
  .container2 #box5,
  .container2 #box6,
  .container2 #box7,
  .container2 #box8,
  .container3 #box9,
  .container3 #box10 {
    width: 150px;
    height: 150px;
  }
}

@media (min-width: 1200px) {
  .container,
  .container2,
  .container3 {
    gap: 150px;
  }

  .container #box1,
  .container #box2,
  .container #box3,
  .container #box4,
  .container2 #box5,
  .container2 #box6,
  .container2 #box7,
  .container2 #box8,
  .container3 #box9,
  .container3 #box10 {
    width: 250px;
    height: 250px;
  }

  .container img,
  .container2 img,
  .container3 img {
    height: 200px;
    margin-bottom: 10px;
  }

  .container h2,
  .container2 h2,
  .container3 h2 {
    font-size: 1.5rem;
  }
}
