* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

html{
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
}

body {
    background-color: black;
    height: 100%;
    width: 100%;
}

#head {
    color: white;
    /* font-family: poppins; */
    margin: 40px;
    padding-left: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

a {
    color: white;
    text-decoration: none;
    margin-left: 10rem;
    font-size: 20px;
    font-weight: 500;
    position: relative;
}

a:after {
    content: "";
    position: absolute;
    background-color: rgb(63, 61, 61);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

a:hover {
    color: #ffffff;
}

a:hover:after {
    width: 100%;
}

.container{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 100px;
}

.container #box1{
    height: 200px;
    width: 200px;
    background-color: darkgray;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px darkgray;
    transition: 0.6s;
    /* margin-left: 100px; */
}

.container #box1:hover{
    transform: scale(1.2);
}

.container #box2{
    height: 200px;
    width: 200px;
    background-color: darkgray;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px darkgray;
    transition: 0.6s;
    /* margin-left: 300px; */
}

.container #box2:hover {
    transform: scale(1.2);
}

.container #box3{
    height: 200px;
    width: 200px;
    background-color: darkgray;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px darkgray;
    transition: 0.6s;
    /* margin-left: 300px; */
}

.container #box3:hover {
    transform: scale(1.2);
}

.container #box4{
    height: 200px;
    width: 200px;
    background-color: darkgray;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px darkgray;
    transition: 0.6s;
    /* margin-left: 300px; */
}

.container #box4:hover {
    transform: scale(1.2);
}

.container #box1 img{
    position: absolute;
    margin-left: 20px;
    margin-top: 10px;
    height: 160px;
}

.container #box1 h2{
    position: relative;
    padding: 55px;
    margin-top: 110px;
    margin-left: 10px;
}

.container #box2 h2{
    position: relative;
    color: black;
    padding: 55px;
    margin-top: 110px;
    margin-left: 20px;
}

.container #box2 img {
    position: absolute;
    margin-left: 30px;
    margin-top: 20px;
    height: 140px;
}

.container #box3 h2{
    position: relative;
    color: black;
    padding: 55px;
    margin-top: 110px;
    margin-left: -22px;
}

.container #box3 img {
    position: absolute;
    margin-left: 10px;
    margin-top: 1px;
    height: 180px;
}

.container #box4 h2{
    position: relative;
    color: black;
    padding: 55px;
    margin-top: 110px;
    margin-left: 22px;
}

.container #box4 img {
    position: absolute;
    margin-left: 20px;
    margin-top: 10px;
    height: 160px;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.container2 #box5{
    height: 200px;
    width: 200px;
    background-color: darkgray;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px darkgray;
    transition: 0.6s;
    /* margin-left: 300px; */
}

.container2 #box5:hover {
    transform: scale(1.2);
}

.container2 #box6{
    height: 200px;
    width: 200px;
    background-color: darkgray;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px darkgray;
    transition: 0.6s;
    /* margin-left: 300px; */
}

.container2 #box6:hover {
    transform: scale(1.2);
}

.container2 #box7{
    height: 200px;
    width: 200px;
    background-color: darkgray;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px darkgray;
    transition: 0.6s;
    /* margin-left: 300px; */
}

.container2 #box7:hover {
    transform: scale(1.2);
}

.container2 #box5 h2 {
    position: relative;
    color: black;
    padding: 55px;
    margin-top: 110px;
    margin-left: -4px;
}

.container2 #box5 img {
    position: absolute;
    margin-left: 20px;
    margin-top: 10px;
    height: 160px;
}

.container2 #box6 h2 {
    position: relative;
    color: black;
    padding: 55px;
    margin-top: 110px;
    margin-left: -4px;
}

.container2 #box6 img {
    position: absolute;
    margin-left: 20px;
    margin-top: 10px;
    height: 160px;
}

.container2 #box7 h2 {
    position: relative;
    color: black;
    padding: 55px;
    margin-top: 110px;
    margin-left: 5px;
}

.container2 #box7 img {
    position: absolute;
    margin-left: -15px;
    margin-top: 10px;
    height: 160px;
}